

*{
    box-sizing:border-box;
}
body{background-color: rgb(14, 12, 12);
    font-family:"Roboto", san-serif;
    margin:0;
}
.container{
    padding:0 1rem;
    margin:0 auto;
    max-width:100%;
    width:1000px;
}
.logo{
    color: white;
}
header{
    background-image: url(car.jpg);
    color:white;
    min-height:calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-position:center center ;
}
  .content{
    margin:auto;
   font-size: 1.5rem;
   max-width:100%; 
}
nav .logo{
     
    font-size: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:1rem;
}
nav ul{
    display:flex;
    list-style-type: none;
    padding: 0;
}
 
Nav li a {
    color: white;
padding: 1rem;
text-decoration: none;
}
.selected{
    font-weight: bold;
}
.highlight{
    background-color: #00c2ff;
    width: 165px;
    text-decoration: none;
    color: white;
    padding:1rem;
}
.content h1{
 color:#00c2ff;
}
footer{
    background-color: #000;
    color:#fff;
    padding: 1rem;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding:0;
}
footer strong{
    color:#00c3ff;
}
footer p{
    margin:0; 
}
@media screen and (max-width:700px){
    .content{
        font-size:1.4rem;
        margin:2rem auto 0;

    }
    nav ul {
        flex-direction: column;
    }
    nav .highlight{
        display: none ;
    }
    footer ul{
        flex-direction:column;
        justify-content: center;
    }
    footer li{
        margin:1rem;
        text-align:center;
    }
    }

